body {
    position: relative;
    background: #f9f5ef;
}

.write_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.write_nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 2;
}

.write_nav_logo {
    width: 5%;
}

.write_small_logo {
    width: 100%;
    cursor: pointer;
}

.write_nav_text {
    text-align: center;
    color: black;
    font-size: 1.5vw;
    font-family: Inter;
    font-weight: 500;
    text-decoration-line: none;
}

.write_logout {
    background: white;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    font-size: 1vw;
    font-family: Inter;
    font-weight: 200;
    cursor: pointer;
}

.write_form {
    width: 80%;
    position: absolute;
    left: 10%;
    margin-top: 10%;
}

.write_form_input_div {
    position: relative;
    background: #f0ece6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 10%;
}

.write_hr {
    margin-top: 3%;
    margin-bottom: 5%;
}

.write_form_title {
    width: 100%;
    font-size: 2vw;
    font-family: Inter;
    font-weight: 550;
    background-color: transparent;
    border: none;
}
.write_form_title::placeholder {
    font-size: 2.2vw;
    font-family: Inter;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
}

.write_form_date_label {
    font-size: 1.7vw;
    font-family: Inter;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    margin-bottom: 2%;
}

.write_form_date {
    font-size: 1.4vw;
    width: 20%;
}

.write_form_color_label {
    font-size: 1.7vw;
    font-family: Inter;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    margin-bottom: 2%;
}
.write_color_info {
    width: 1.6vw;
    cursor: pointer;
    opacity: 0.7;
}

.write_form_color_btn {
    width: 10%;
    margin-right: 20px;
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    cursor: pointer;
}

.write_form_content {
    width: 100%;
    height: 450px;
    font-size: 1.3vw;
    font-family: Inter;
    font-weight: 300;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}
.write_form_content::placeholder {
    font-size: 1.7vw;
    font-family: Inter;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}

.write_form_comment {
    width: 100%;
    height: 70px;
    font-size: 1.3vw;
    font-family: Inter;
    font-weight: 300;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
}
.write_form_comment::placeholder {
    font-size: 1.7vw;
    font-family: Inter;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.2);
}

.write_form_submit_div {
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
}

.write_form_cancel {
    width: 20%;
    font-size: 1.5vw;
    background: white;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 1.5%;
    cursor: pointer;
}

.write_form_submit {
    width: 20%;
    font-size: 1.5vw;
    background: #f3d1b9;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 1.5%;
    margin-left: 1.5%;
    cursor: pointer;
}
