body {
    background-color: #f9f5ef;
}

.main_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.article_div {
    width: 600px;
    margin: 80px auto;
    padding: 50px;
    background: rgba(210, 192, 206, 0.2);
    border-radius: 30px;
    border: none;
}

.article_unit {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    padding: 30px 0;
}

.article_username {
    color: #000;
    text-decoration-line: none;
}
.article_username:hover {
    font-weight: 600;
}

.article_title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    padding: 10px 0;
}

.article_date {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    padding-bottom: 50px;
}

.article_content {
    display: flex;
    justify-content: left;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    padding-bottom: 60px;
}

.artile_hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.article_hrt {
    font-size: 11px;
    font-family: Inter;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 20px;
}

#article_hrt_state:hover {
    cursor: pointer;
}
#article_hrt_state.fa-solid {
    color: red;
}

.article_comment {
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
}
