body {
    position: relative;
    background: #f9f5ef;
}

.main_background {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.main_background_img {
    width: 800px;
    position: absolute;
    z-index: -1;
}

.main_logo {
    width: 225px;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
}

.main_logo_text {
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    padding-bottom: 10px;
}

.main_best_color_comment {
    width: 750px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.main_best_color_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_best_color_img {
    width: 90%;
}

.main_best_color_text {
    position: absolute;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

#main_best_color_num {
    font-size: 10px;
}

.main_best_comment_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_best_comment_img {
    width: 90%;
}

.main_best_comment_text {
    position: absolute;
    font-size: 12px;
    font-family: Inter;
    font-weight: 600;
}

#article_hrt_state,
#article_hrt_num {
    font-size: 10px;
}

#article_hrt_state:hover {
    cursor: pointer;
}
#article_hrt_state.fa-solid {
    color: red;
}

.main_article_background {
    width: 800px;
    margin: 0 auto;
    background: #9cb18e;
}

.main_article_div {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}

.main_hr {
    border: 1px rgba(0, 0, 0, 0.5) solid;
}

.main_new_article_div {
    width: 325px;
}
.main_follow_article_div {
    width: 325px;
}

.main_new_article {
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 25px;
}

.main_follow_article {
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 25px;
}

.main_article_content:hover {
    cursor: pointer;
}

.main_article_title {
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
}

.main_article_subtitle {
    font-size: 11px;
    font-family: Inter;
}

.main_more_btn {
    font-size: 10px;
    color: black;
    margin-top: 50px;
}
.main_more_btn:hover {
    font-weight: 600;
}
