.mypage_edit_changeImg {
    background: white;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    border-radius: 10px;
    display: inline-block;
    font-size: 13px;
    font-family: Inter;
    font-weight: 200;
    cursor: pointer;
}
.mypage_edit_changeImg:hover {
    font-weight: 600;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: relative;
    background-color: #fff;
    margin: 80px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 300px;
    text-align: center;
}

.close {
    color: rgb(170, 170, 170);
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mypage_changeImg_title {
    margin: 30px auto;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
}

.mypage_changeImg_select,
.mypage_changeImg_delete {
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    background-color: #f3d1b9;
    border-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

.mypage_changeImg_cancel {
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    background-color: #fff;
    border-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 25px;
}
.mypage_changeImg_select:hover,
.mypage_changeImg_delete:hover,
.mypage_changeImg_cancel:hover {
    font-weight: 600;
    cursor: pointer;
}

#chooseFile {
    display: none;
}

.mypage_edit_form {
    width: 400px;
    margin: 20px auto;
}

.mypage_edit_nickname {
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

#nickname {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-top: 4px;
    margin-bottom: 15px;
}

.mypage_edit_password {
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

#password {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-top: 4px;
    margin-bottom: 15px;
}

.mypage_edit_repassword {
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

#repassword {
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-top: 4px;
    margin-bottom: 15px;
}

.mypage_edit_age {
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
}

#age {
    width: 55%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-top: 4px;
    margin-bottom: 10px;
}

.mypage_edit_form_submit_div {
    margin-top: 30px;
}

.mypage_edit_form_cancel {
    width: 190px;
    height: 40px;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    background: white;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
}
.mypage_edit_form_cancel:hover {
    font-weight: 600;
    cursor: pointer;
}

.mypage_edit_form_submit {
    width: 190px;
    height: 40px;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    background: #f3d1b9;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    margin-left: 10px;
}
.mypage_edit_form_submit:hover {
    font-weight: 600;
    cursor: pointer;
}

.hide{
    display: none;
}

.success-message-nic {
    font-size: 12px;
    color: green; /* 성공 메시지는 초록색 */
    margin-top: -8px;
    padding-bottom: 10px;
}

.failure-message-nic, .failure-message2-nic, .strongPassword-message, .mismatch-message, .strongAge-message {
    font-size: 12px; /* 글씨 크기 */
    color: red; /* 글씨 색 */
    margin-top: -8px;
    padding-bottom: 10px;
}