#mypage_article_btn {
    background-color: #f3d1b9;
}

.mypage_article_color-selection {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
}

.write_color {
    width: 25px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
}

.write_color input[name='color'] {
    display: none;
}

.write_color label {
    font-size: 10px;
    font-family: Inter;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    height: -webkit-fill-available;
}
/* Checked */
.write_color input[name='color']:checked + label {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

/* Hover */
.write_color label:hover {
    color: rgba(0, 0, 0) !important;
    font-weight: 600 !important;
    cursor: pointer;
}

/* Disabled */
.write_color input[name='color'] + label {
    color: rgba(0, 0, 0, 0.5);
}

.mypage_article_div {
    margin: 20px;
}

.mypage_article {
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    background-color: #eec8c8;
    border-radius: 20px;
}
.mypage_article:hover {
    cursor: pointer;
}

.mypage_article_title {
    font-size: 15px;
    font-size: Inter;
    font-weight: 600;
}

.mypage_article_subtitle {
    font-size: 12px;
    font-size: Inter;
    font-weight: 400;
}
