#mypage_color_btn {
    background-color: #f3d1b9;
}

.mypage_piechart_title {
    width: 700px;
    margin: 10px auto;
    margin-bottom: 0;
    font-size: 10px;
    font-size: Inter;
    font-weight: 600;
}

#mypage_piechart {
    width: 700px;
    height: 430px;
    margin: 0 auto;
}
