body {
    position: relative;
    background: #f9f5ef;
}

.main_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.search_headtext {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 18px;
    font-size: Inter;
    font-weight: 600;
}

.write_color-selection {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
    margin-bottom: 10px;
}

.write_color {
    width: 80px;
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
}

.write_color input[type='radio'] {
    display: none;
}

.write_color label {
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    height: -webkit-fill-available;
    line-height: 40px;
}
/* Checked */
#all:checked + label {
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
}
#red:checked + label {
    background: #eec8c8;
    color: rgba(0, 0, 0, 0.5);
}
#orange:checked + label {
    background: #ffe5ca;
    color: rgba(0, 0, 0, 0.5);
}
#yellow:checked + label {
    background: #fcf4c5;
    color: rgba(0, 0, 0, 0.5);
}
#green:checked + label {
    background: #d5dfd1;
    color: rgba(0, 0, 0, 0.5);
}
#blue:checked + label {
    background: #bbcbde;
    color: rgba(0, 0, 0, 0.5);
}
#purple:checked + label {
    background: #d2c0ce;
    color: rgba(0, 0, 0, 0.5);
}

/* Hover */
.write_color label:hover {
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
}

/* Disabled */
.write_color input[type='radio'] + label {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.search_btn {
    text-align: center;
}

.search_color_btn {
    margin-right: 20px;
    padding: 3px 15px;
    color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    font-size: 13px;
    font-size: Inter;
    font-weight: 500;
    cursor: pointer;
}

.search_article_div {
    margin-top: 40px;
}

.search_article {
    width: 600px;
    margin: 10px auto;
    padding: 15px;
    background-color: #bbcbde;
    border-radius: 20px;
}
.search_article:hover {
    cursor: pointer;
}

.search_article_title {
    font-size: 15px;
    font-size: Inter;
    font-weight: 600;
}

.search_article_subtitle {
    font-size: 12px;
    font-size: Inter;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: smaller;
}
